// Global styles

$background-light: #5b1ceef8;
$background-dark: #549af5f8;
* {
  background-image: linear-gradient() to bottom right, $background-dark,
    $background-light;
}
div {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  //   background-image: linear-gradient() to bottom right, $background-dark,
  //     $background-light;
}
