// landing-page {
//   position: relative;
//   //margin-top: 56px;
// }
.landing-page {
  text-align: center;
  padding: 100px;
}

.landing-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.landing-page p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
