* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  &:visited {
    text-decoration: none;
    //color: white;
  }
  &:focus {
    text-decoration: none;
    //color: white;
  }
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 5vh;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 5vh;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  //size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  //margin-left: 2rem;
}
