@import url("https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css");

li {
  list-style: none;
}

.navbar {
  position: relative;
  z-index: 1;
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 5vh;
  border-bottom: 1px solid darkslateblue;

  .links {
    margin-left: auto;
  }
  a {
    text-decoration: none;
  }
}

.nav-item {
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconoir-home,
.iconoir-glass-half,
.iconoir-info-empty {
  font-size: 2rem;
  color: darkslateblue;
  &:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}
