.unknown-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
  
    h1 {
      font-size: 4rem;
      font-weight: 700;
      color: #333;
      text-align: center;
    }
  
    p {
      font-size: 1.5rem;
      color: #333;
      text-align: center;
      margin-top: 1rem;
    }
  
    h2 {
      font-size: 2.3rem;
      font-weight: 700;
      color: #333;
      text-align: center;
    }
  
    @media only screen and (max-width: 600px) {
      width: 90%;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 1.8rem;
      }
    }
  }

.home_but{
    font-size: 1.5rem;
      color: #333;
      text-align: center;
      margin-top: 1rem;
    margin-top: 2rem;
    display: inline-block;
    background-color: var(--text-color);
    color: #333;
    padding: .80rem 1.5rem;
    border-radius: 3rem;
    transition: .4s;
}

.home_btn{
    margin:0 auto;
    display: block;
    color: darkslateblue;
    padding: .80rem 1.5rem;
    border-radius: 3rem;
    border:2px inset darkslateblue;
    border-radius: 15px;
    &:hover {
        transform: scale(1.07);
        transition: all 0.3s ease-in-out;
      }
    background-image: linear-gradient(
    to bottom right,
    #a6edf3,
    #437ebd
  );
    transition: .4s;
}

  @keyframes floaty{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
   }

    @keyframes shadow{
        0%{
            transform: scale(1,1);
        }
        100%{
            transform: scale(.85,.85);
        }
    }
  